<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Betterreads</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- <meta name="referrer" content="origin"> -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
    ></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-bottom: 20px">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Better Reads</a>

        </div>
    </nav>

    <form action="search.html" th:attr="action=@{/searchBook}">
        <div class="input-group mb-3">
            <input type="text" name="query" class="form-control" placeholder="Search for a title"
                   aria-label="Search query" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <div>
        <p>
            <img style="float:left" th:src="${authorCoverSource}">
        <h3 th:text="${authorBasicInfo.name}">Author Name</h3>
        <span th:text="${authorBasicInfo.wikipedia}">Wikipedia Url: </span>

        <span class="mt-0" th:if="${authorBasicInfo.birth_date != null}" th:text="'Date of birth: ' + ${authorBasicInfo.birth_date}">Birth date</span>

        <br>

        <span th:if="${authorBasicInfo.bio != null} " th:text="${authorBasicInfo.bio.get('value')}">Author info</span>

        </p>


    </div>

    <br>
    <br>
    <br>

    <div>
        <h3 th:text="'Books written by ' + ${authorBasicInfo.name}">Books written by author</h3>
    </div>


    <div class="card mb-3" style="max-width: 540px;" th:each="authorWork: ${authorWorksResult}">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img th:src="${authorWork.cover_i}" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title" th:text="${authorWork.title}">Title</h3>

                        <a href="#" th:href="@{'/books/' + ${authorWork.key}}" class="btn btn-primary">View book</a>


                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

</body>
</html>